.body
{
align-items: center;

}


.form-container1
 {
   margin-top: 20%;
   background-color:  #fffdfd;
  padding: 30px; 
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #000;
  margin-bottom: 10%;
  margin-top: -1%;
}

#btn
{
  margin-top: 5pxs;
  color: #fff;
}

.user-details
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.user-details .form-group
{
  width:calc(100%/2-20px);
}

.user-details .form-group input{
height: 45px;
  width: 100%;
}
.user-details .form-group .details{

  font-family: 500;
  margin-bottom: 5px;
}

.form-group .ng-invalid.ng-touched 
{
  border: 1px solid red;
}